.app-container {
  background-color: #EEEEEE;
  min-height: 100vh;
  padding: 20px;
}

.user-management {
  max-width: 900px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: auto;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.search-input-box {
  border: 1px solid grey;
  padding: 6px;
  border-radius: 5px;
  outline: none;
}

.clear-filters-btn {
  background-color: #000000;
  color: #ffffff;
  padding: 8px;
  border: none;
  border-radius: 6px;
  font-size: 12px;
}

.error {
  color: red;
}

.user-form {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.add-user-form-input {
  border: 1px solid grey;
  padding: 6px;
  border-radius: 5px;
  outline: none;
}

.user-form input {
  padding: 0.5rem;
  flex: 1 1 150px;
  min-width: 150px;
}

.user-form button {
  /* padding: 0.5rem 1rem; */
  background-color: #000000;
  color: #ffffff;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-size: 12px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th {
  cursor: pointer;
  background-color: #f0f0f0;
  user-select: none;
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.user-table td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.edit-btn {
  background-color: rgb(52, 52, 229);
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.delete-btn {
  background-color: rgb(229, 61, 52);
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.user-table th:hover {
  background-color: #d0d0d0;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 600px) {

  .user-table,
  .user-table thead,
  .user-table tbody,
  .user-table th,
  .user-table td,
  .user-table tr {
    display: block;
  }

  .user-table tr {
    margin-bottom: 1rem;
  }

  .user-table td {
    position: relative;
    /* padding-left: 50%; */
    text-align: left;
  }

  .user-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 45%;
    padding-left: 0.5rem;
    font-weight: bold;
    text-align: left;
  }
}